/*------------ common styles ------------*/
body {
    font-family: sans-serif;
}

text {
    font-family: sans-serif;
    font-size: 11pt;
}

/* everything (but slider) is positioned inside chartMain */

#chartMain {
    position: relative;
    margin: 0px auto;
}

#chartArea {
    position: relative;
    top: 0px;
    margin: 20px auto;
}

.usmap #chartArea {
    width: 1200px;
    height: 650px;
}

.worldmap #chartArea {
    width: 900px;
    height: 500px;
}

.scatter #chartArea {
    width: 920px;
    height: 600px;
}

.timeline #chartArea {
    width: 920px;
    height: 600px;
}

#chartTitle {
    position: absolute;
	top: -16px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	font-size: 60px;
	font-weight: normal;
	width: 100%;
	font-family: title;
	color: #A4DBE8;
}

#chartDescription {
    position: absolute;
	float: left;
	width: 80%;
	text-align: left;
	font-size: 28px;
	font-weight: normal;
	font-family: sub-title;
	padding: 130px;
	top: 575px;
}

#dateLabel {
    position: absolute;
	width: 85%;
	float: right;
	text-align: right;
	vertical-align: baseline;
	font-size: 25px;
	font-weight: normal;
	font-family: medium;
	margin-top: 35px;
}

#dateSlider {
    margin: 0px auto; /* center */
    width: 100%;
}

#chartSvg {
	margin-top: 75px;
}

/* sliderDateLabel is in the chartArea */
#dateSliderLabel {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: normal;
}

.usmap #dateSlider {
    margin-top: 20px;
}

.worldmap #dateSlider {
    margin-top: 0px;
}

.scatter #dateSlider {
    margin-top: 5px;
}

.timeline #dateSlider {
    margin-top: 10px;
}

/* ------------ map styles -------------*/

#resetBtn {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

path.county {
    stroke: white;
    stroke-width: 1px;
}

path.state {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.city {
    font: 10px sans-serif;
    font-weight: bold;
}

rect.countyDataLabel, rect.countryDataLabel {
    fill: #FFFFE0;
    padding: 2px;
    border: 1px;
    border-radius: 3px;
    pointer-events: none;
}

text.countyDataLabel, text.countryDataLabel {
    text-align: center;
    font-size: 12px;
    fill: #000000;
}

#countyDataLabelName, #countryDataLabelName {
    font-weight: bold;
}

#scatterPlotSizeLegend {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-right: 20px;
    width: 150px;
    font-size: 20px;
}

#mapColorLegend {
    width: 150px;
}

#colorLegendBlock{ /* SVG rects for the color blocks */
    stroke: white;
    stroke-width: 1;
}

#colorLegendLabel{ /* SVG text for the legend labels*/
    font-weight: normal;
	color: white;
	font-family:'sub-title';
	fill: white !important;
}

#colorLegendUnits{ /* SVG text for the legend units*/
    font-weight: normal;
	color: white;
	font-family:'sub-title';
	fill: white !important;
}

/* ------------ end map styles -------------*/