/*------------ common styles ------------*/
body {
    font-family: sans-serif;
}

text {
    font-family: sans-serif;
    font-size: 11pt;
}

/* everything (but slider) is positioned inside chartMain */

#chartMain {
    position: relative;
    margin: 0px auto;
}

#mapColorLegend{
    height: 100%;
    float: left;
}

#chartArea {
    position: relative;
    top: 10px;
    margin: 20px auto;
}

.usmap #chartArea {
    width: 750px;
    height: 450px;
    float: right;
}

.usmap #mapColorLegend{
    width: 150px;
}

.worldmap #chartArea {
    width: 750px;
    height: 500px;
    float:right;
}

.worldmap #mapColorLegend{
    width: 150px;
}

.scatter #chartArea {
    width: 920px;
    height: 570px;
    margin-top: 10px;
}

.scatter #mapColorLegend{
    width: 0px;
}

.timeline #chartArea {
    width: 920px;
    height: 600px;
}

.timeline #mapColorLegend{
    width: 0px;
}

#chartTitle {
    position: absolute;
	top: -16px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	font-size: 60px;
	font-weight: normal;
	width: 100%;
	font-family: title;
	color: #A4DBE8;
}

#chartDescription {
    position: absolute;
	float: left;
	width: 80%;
	text-align: left;
	font-size: 28px;
	font-weight: normal;
	font-family: sub-title;
	padding: 130px;
	top: 575px;
}

#dateLabel {
    position: absolute;
	width: 85%;
	float: right;
	text-align: right;
	vertical-align: baseline;
	font-size: 25px;
	font-weight: normal;
	font-family: medium;
	margin-top: 35px;
}

#dateSlider {
    margin: 0px auto; /* center */
    width: 100%;
}

#chartSvg {
	margin-top: 75px;
}

/* sliderDateLabel is in the chartArea */
#dateSliderLabel {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: normal;
}

.usmap #dateSlider {
    margin-top: 30px;
}

.worldmap #dateSlider {
    margin-top: 0px;
}

.scatter #dateSlider {
    margin-top: 5px;
}

.timeline #dateSlider {
    margin-top: 10px;
}

#sourceFootnote {
    text-anchor: end;
    float: right;
    font-size: 12px;
}

#mapColorLegend {
    width: 150px;
}

#colorLegendBlock{ /* SVG rects for the color blocks */
    stroke: white;
    stroke-width: 1;
}

#colorLegendLabel{ /* SVG text for the legend labels*/
    font-weight: normal;
	color: white;
	font-family:'sub-title';
	fill: white !important;
}

#colorLegendUnits{ /* SVG text for the legend units*/
    font-weight: normal;
	color: white;
	font-family:'sub-title';
	fill: white !important;
}

/* ------------ end map styles -------------*/