/*------------ common styles ------------*/
body {
    font-family: sans-serif;
}

text {
    font-family: sans-serif;
    font-size: 11pt;
}

/* everything (but slider) is positioned inside chartMain */

#chartMain {
    position: relative;
    margin: 0px auto;
}

#chartLegendWrapper {
    position: relative;
    width: 100%;
    margin: 10px;
}

.slave .usmap #chartLegendWrapper {
    left: 100px;
	top: -50px;
}

.slave .worldmap #chartLegendWrapper {
   	left: 85px;
	top: -75px;
}

.slave .timeline #chartLegendWrapper {
	top: -55px;
	left: 75px;
}

.slave .scatter #chartLegendWrapper {
	top:-15px;
	left:50px;
}

#mapColorLegend{
    width: 150px;
    float: left;
    padding: 50px 10px 0px 00px;
}

.slave #mapColorLegend{
    width: 150px;
    float: left;
    padding: 50px 0px 0px 0px;
}

#chartArea {
    width: 70%;
    margin: 0px auto;
}

.usmap #chartArea {
    height: 650px;
}

.slave .usmap #chartArea {
    width: 70%;
    height: 575px;
}

.usmap #mapColorLegend{
	/*margin-left: 50px;
	margin-top: 50px;*/
}

.worldmap #chartArea {
    height: 650px;
}

.slave .worldmap #chartArea {
    position: relative;
    width: 75%;
    height: 540px;
	margin-top:60px;
}

.slave .worldmap #mapColorLegend{
    margin-left: 0px;
}

.worldmap #mapColorLegend{
    /*margin-left: 50px;
    margin-top: 50px;*/
}

.scatter #chartArea {
    height: 610px;
}

.slave .scatter #chartArea {
    width: 70%;
    height: 550px;
	margin-top:25px;
    /*padding-bottom: 50px*/
}

.scatter #mapColorLegend{
}

.timeline #chartArea {
    height: 600px;
}

.slave .timeline #chartArea {
    width: 80%;
	height: 600px;
	/*padding-bottom: 75px;*/
}

.timeline #mapColorLegend{
}

#chartTitle {
    /*position: absolute;*/
    margin: 10px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	font-size: 60px;
	font-weight: normal;
	width: 100%;
	font-family: title;
	color: #A4DBE8;
}

.slave #chartTitle {
	margin-top:-30px;
	margin-bottom:15px;
}

.slave .scatter #chartTitle {
	margin-left:75px;
}

.slave .worldmap #chartTitle {
	margin-left:40px;
}

.slave .usmap #chartTitle {
	margin-top:-25px;
	margin-bottom:50px;
	margin-left:70px;
}

#chartDescription {
    /*position: absolute;
	float: left;*/
	width: 80%;
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	font-family: sub-title;
    margin-left: 150px;
	margin-top: 40px;
	/*top: 730px;*/
}

.slave .scatter #chartDescription {
	margin-top:-0px;
}

.slave .timeline #chartDescription {
	margin-top: -45px;
	margin-left: 185px;
}

.slave .usmap #chartDescription {
	margin-top:-50px;
}

.slave .worldmap #chartDescription {
	margin-top:-50px;
}

#dateLabel {
    position: absolute;
	width: 100%;
	float: right;
	text-align: left;
	vertical-align: baseline;
	font-size: 25px;
	font-weight: normal;
	font-family: medium;
}

.usmap #dateLabel {
	left:100px;
	top:600px;
}

.timeline #dateLabel {
	left:880px;
	top:25px;
}

.worldmap #dateLabel {
	left:65px;
	top:590px;
}

.scatter #dateLabel {
	left:1020px;
	top:25px;
}


#dateSlider {
    margin: 20px auto; /* center */
    width: 80%;
    border: 1px solid white;
}

#dateSliderLabel {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: normal;
}

.usmap #dateSlider {
    /*position:absolute;
	top: 850px;
	width: 80%;
	margin-left: 10%;*/
}

.worldmap #dateSlider {
    /*margin-top: 0px;
	position:absolute;
	top: 850px;
	width: 80%;
	margin-left: 10%;
	border: 1px solid white;*/
}

.scatter #dateSlider {
    /*margin-top: 5px;
	position:absolute;
	top: 850px;
	width: 80%;
	margin-left: 10%;
	border: 1px solid white;*/
}

.timeline #dateSlider {
    /*margin-top: 10px;*/
}

#sourceFootnote {
    /*text-anchor: end;
    float: right;*/
    font-size: 12px;
	/*margin-top: 55px;
	position: absolute;*/
	width: 80%;
	text-align: center;
}

#colorLegendBlock{ /* SVG rects for the color blocks */
    stroke: white;
    stroke-width: 1;
}

#colorLegendLabel{ /* SVG text for the legend labels*/
    font-weight: normal;
	color: white;
	font-family:'sub-title';
	fill: white !important;
}

#colorLegendUnits{ /* SVG text for the legend units*/
    font-weight: normal;
	color: white;
	font-family:'sub-title';
	fill: white !important;
}

/* ------------ end map styles -------------*/



.slave resetImage{
	height: 0;
	width: 0;
}

