#chartPanel {
    fill: lemonchiffon;
    opacity: 1;
    stroke: black;
    stroke-width: 1;
}

.title text {
    dominant-baseline: middle;
    fill: blue;
    text-anchor: middle;
}

.axis text {
    fill: white;
}

.scatter .y.axis text, .timeline .y.axis text {
    dominant-baseline: middle;
    text-anchor: end;
}

.scatter .x.axis text, .timeline .x.axis text {
    dominant-baseline: hanging;
    text-anchor: middle;
}

.scatter .x.axis text.title, .timeline .x.axis text.title {
    fill: slateblue;
}

.scatter .y.axis text.title, .timeline .y.axis text.title {
    text-anchor: middle;
    fill: slateblue;
}

.axis line {
    stroke: skyblue;
    stroke-width: 1;
    pointer-events: none;
}

.scatter .pt {
    fill: darkred;
    stroke: blue;
    opacity: 1;
}

.timeline .pt {
    fill: darkred;
    stroke: blue;
    opacity: 1;
}

.scatter circle.selected {
    fill: #FFBA30;
    opacity: 1;
}

.scatter .caption {
    margin-left: 60px;
    width: 600px;
}

.scatter .sz.axis text {
    dominant-baseline: hanging;
    text-anchor: start;
}

.scatter .sz.axis text.title {
    fill: slateblue;
}

.scatter .selected {
    fill: darkred;
    stroke: darkred;
    opacity: 1;
}

