
.scatter .popupRect {
    fill: lightcyan;
    stroke: lightgrey;
    stroke-width: 1;
    opacity: .7;
}

.scatter .popupText {
    fill: black;
    font-size: 12pt;
    opacity: 1;
}

.scatter .popupTick {
    stroke: darkred;
    stroke-width: 2;
}

.scatter .popupTickLabel text {
    fill: black;
    font-size: 10pt;
    opacity: 1;
}

.scatter .popupTickLabel rect {
    fill: lightcyan;
    stroke: lightgrey;
    opacity: .7;
}

.scatter .pt {
    fill: blue;
    stroke: blue;
    opacity: 1;
}

.scatter .selected {
    fill: darkred;
    stroke: darkred;
    opacity: 1;
}

.scatter .d3-tip {
    line-height: 1;
    font-weight: normal;
    padding: 2px;
    background: lightcyan;
    color: black;
    border-radius: 2px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.scatter .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: lightcyan;
    position: absolute;
    pointer-events: none;
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}