.timeline .data-line {
    stroke: #A4DBE8;
    stroke-width: 1.5;
    fill: none;
    stroke-dasharray: 0;
}

.timeline .area {
    fill: rgba(16, 6, 159, 0.25);
}

.timeline path{
    stroke: grey;
    stroke-width: 1;
    stroke-dasharray: 0;
    fill: none;
}

.timeline .data-point {
    stroke: #A4DBE8;
	stroke-width: 1.5;
	fill: #AD1AAC;
}

.timeline line.valueLine {
    stroke: #AD1AAC;
    stroke-width: 3;
    stroke-dasharray: 5;
}

.timeline text.valueLabel {
    font-family: Arial;
    font-size: 12pt;
    fill: black;
    text-anchor: end;
}

.timeline rect.valueLabel {
    fill: lightblue;
}

p.timelineAnnotationLabel {
    font-family: Arial;
    font-size: 10pt !important;
    color: black;
    text-anchor: start;
    padding: 10px;
    opacity: 1;
}

div.timelineAnnotationLabel {
    background-color: lightblue;
    border: 1px;
    color: grey;
    opacity: 1;
}