.timeline .data-line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 0;
}

.timeline path {
    stroke: #eee;
    stroke-width: 2;
    stroke-dasharray: 0;
    fill: none;
}

.timeline .area {
    fill: lightgrey;
}

.timeline text {
    font-family: Arial;
    font-size: 8pt;
    fill: #787878;
}

.timeline line {
    stroke: #CDCDCD;
    stroke-width: 0.5;
    /* stroke-dasharray: 3 3; */
    fill: none;
}

.timeline .data-point {
    stroke: steelblue;
    stroke-width: 2;
    fill: #FFF;
}

.timeline line.valueLine {
    stroke: white;
    stroke-dasharray: 5;
}

.timeline #valueLabelValue {
    font-family: Arial;
    font-size: 8pt;
    fill: #787878;
}