.timeline .data-line {
    stroke: darkgreen;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 0;
}

.timeline .area {
    fill: #EBFFEB;
}

.timeline path{
    stroke: grey;
    stroke-width: 1;
    stroke-dasharray: 0;
    fill: none;
}

.timeline .data-point {
    stroke: steelblue;
    stroke-width: 2;
    fill: white;
}

.timeline line.valueLine {
    stroke: blue;
    stroke-width: 3;
    stroke-dasharray: 5;
}

.timeline text.valueLabel {
    font-family: Arial;
    font-size: 12pt;
    fill: black;
    text-anchor: end;
}

.timeline rect.valueLabel {
    fill: lightblue;
}

p.timelineAnnotationLabel {
    font-family: Arial;
    font-size: 10pt !important;
    color: black;
    text-anchor: start;
    padding: 10px;
    opacity: 1;
}

div.timelineAnnotationLabel {
    background-color: lightblue;
    border: 1px;
    color: grey;
    opacity: 1;
}